.bordered-table {
    border: 1px solid;
    border-collapse: collapse;
  }
  
  .bordered-table th {
    padding: 8px;
    border: 1px solid;
    text-align: center;
  }
  
  .bordered-table td {
    padding: 8px;
    border: 1px solid;
    text-align: center;
  }
  
  .centered-table {
    margin: auto;
  }
  
  #add-button {
    display: flex;
    justify-content: center;
    padding: 3px;
  }
  