<body>
    <div id="form_elements" style>
        <form action="ip_form.php" method="POST">
            <h3 style="text-align:center;"> Research Paper Form</h3>
            <div id="inputs" style="line-height: 30px;">
                <label for="b_name" style="display:inline-block; width: 100px;">Book Name</label>
                <input type="text" name="b_name" placeholder="Book Name" required><br>
                <label for="Author Name" style="display:inline-block; width: 100px;"> Authors Name</label>
                <input type="text" name="a_name" id="a_name" placeholder="Authors Name" required><br>
                
                <label for="isbn" style="display:inline-block; width: 100px;">ISBN</label>
                <input type="text" name="isbn" placeholder="ISBN" required><br>
                <label for="Publisher" style="display:inline-block; width: 100px;"> Publisher</label>
                <input type="text" name="publisher" id="publisher" placeholder="Publisher" required><br>
                <label for="Pages" style="display:inline-block; width: 100px;"> No of Pages</label>
                <input type="number" name="pages" id="pages" placeholder="Pages" min="200" max="400" required><br>
            </div>
            <div id="radio_field" style="line-height: 30px;">
                <label for="radio_ip" style="display:inline-block; width: 100px;" >Book Type</label>
                <label for="Action">Action</label>
                <input type="radio" name="b_type" id="radio_ip" value="Action">
                <label for="Adventure">Adventure</label>
                <input type="radio" name="b_type" id="radio_ip" value="Adventure">

                <label for="Classics">Classics</label>
                <input type="radio" name="b_type" id="radio_ip" value="Classics">

                <label for="Comic Book">Comic Book</label>
                <input type="radio" name="b_type" id="radio_ip" value="Comic Book">

                <label for="Graphic Novel">Graphic Novel</label>
                <input type="radio" name="b_type" id="radio_ip" value="Graphic Novel">

                <label for="Detective">Detective</label>
                <input type="radio" name="b_type" id="radio_ip" value="Detective">

                <label for="Mystery">Mystery</label>
                <input type="radio" name="b_type" id="radio_ip" value="Mystery">

                <label for="Historical Fiction">Historical Fiction</label>
                <input type="radio" name="b_type" id="radio_ip" value="Historical Fiction">

                <label for=" Horror"> Horror</label>
                <input type="radio" name="b_type" id="radio_ip" value=" Horror">

                <label for="Literary Fiction">Literary Fiction</label>
                <input type="radio" name="b_type" id="radio_ip" value="Literary Fiction">

            </div>
            <label for="p_year" style="display:inline-block; width: 100px;"> Publication Year </label>
            <select name="p_year" id="p_year" >
                <option value="2010">2010</label>
                <option value="2011">2011</label>
                <option value="2012">2012</label>
                <option value="2013">2013</label>
                <option value="2014">2014</label>
                <option value="2015">2015</label>
                <option value="2016">2016</label>
                <option value="2017">2017</label>
                <option value="2018">2018</label>
                <option value="2019">2019</label>
                <option value="2020">2020</label>
                <option value="2020">2021</label>
            </select><br>
            <input type="submit" name="submit" value="Submit" style="position: relative; left: 60px; top: 30px">
        </form>
    </div>
</body>
